
/* Configurações da img da tela de cadastro */
#img-bg{
    background-image: url("../../assets/img/fazendocadastro.jpg") ;

    min-height: 1000px;
    max-width: 1000px;

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover
}   