<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Apagar Tema</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Deseja realmente apagar este tema? Todos os posts relacionados a este tema serão apagados</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center text-info">Tema: {{tema.descricao}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger" routerLink='/tema'>Confirmar</button>
            <button class="btn btn-success"(click)='apagar()'>Cancelar</button>
        </div>
    </div>

</div>