/* Use este style de forma global */

/* Deixa a rolagem da página descer de forma suave quando o usuário clica em algo */
html
{
   scroll-behavior:smooth; 
}

/* font-size tam54 */
.fs-54{
   font-size: 54pt;

}
/* donte-size tam18 */
.fs-18{
   font-size: 18pt;
}